*.vvp
*.vcd
__pycache__/
*.pyc
bitstream_output/*.bit
bitstream_output/*.bin
.Xil/
*.jou
*.log
vivado_project/
vivado_proj/
vivado_proj_ibert/
vivado_proj_ibert_probe/
work/
transcript
vsim.wlf
modelsim.ini
sim_xsim/
xsim.dir/
*.pb
*.wdb
webtalk*
hs_err*
.vscode/
*.str
firmware/vitis_ws/
firmware/*.elf
firmware/*.bin
firmware/*.xsa
